*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.button{
    font-weight: 700;
    font-size: 20px;
    color:#FFFFFF;
    padding: 18px 35px;
    background: #FD6E0A;
    text-align: center;
    height: 64px;
    border-radius: 5px;
    border-color: #FFF8F3;
    text-transform: capitalize;
}
.para{
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 32px;
}
.section-title{
        text-transform: capitalize;
        color: #1E1E1E;
        font-size: 35px;
    }
.button:hover{
    background-color: transparent;
    border-color: #FD6E0A;
    color: #FD6E0A;
}
/* common css ends */
header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, bottom leftgit;
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    padding: 50px 0;
}
nav h1{
    font-size: 45px;
    font-weight: 800;
    color: #1E1E1E;
}
nav .logo-cl-cng{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 50px;
}
nav li a{
    text-decoration: none;
    color: #1E1E1E;
    font-size: 20px;
    font-weight: 400;
}
nav li:hover a{
    color: #FD6E0A;
}
.banner{
    display: flex;
    margin: 0 50px 0px 200px;
}
.subtittle{
    margin-top: 130px;
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}
.title{
    color: #1E1E1E;
    font-size: 60px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner p{
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
.banner .button{
    margin-right: 30px;
}
main{
    margin: 0 200px;
}
.about-me{
    margin: 130px 0;
    text-align: center;
    padding: 132px 157px;
    background: #FFF8F3;
    border-radius: 10px;
}
.about-me .about-title{
    text-transform: capitalize;
    color: #1E1E1E;
    font-size: 35px;
} 
.about-me .about-content{
    margin: 30px 0;

}
.about-me .infomation{
    display: flex;
    gap: 20px;
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
}
.about-me .infomation span{
    display: block;
    color: #474747;
    font-size: 18px;
    text-transform: inherit;
    font-weight: 700;
    margin-top: 13px;
}
/* about me ends========= */
.what-i-do .work-content{
    text-align: center;
}

.what-i-do .work-content .para{
    padding: 30px 100px 80px;
}
.what-i-do .work-detaiils{
    display: flex;
    gap: 20px;
    padding: 30px 33px;

}

.work-detaiils .work-name{
    text-align: left;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #f1f1f1,
                -5px -5px 15px #f1f1f1;
}
.work-detaiils .work-name .icon-title{
    margin-top: 30px;
    margin-bottom: 20px;
    font-style: 20px;
    color: #1E1E1E;
    font-weight: 700;
}
/* resume start */
.resume{
    margin-top: 130px;
    text-align: center;
}
.summery{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin-top: 115px;
}
.resume .resume-item{
    margin-bottom: 30px;
    padding: 10px;
}
.resume .resume-item h2{
    text-transform: capitalize;
    font-size: 30px;
    color: #474747;
    font-weight: 700;
    text-align: left;
}
.resume .resume-item h3{
    text-transform: capitalize;
    font-size: 25;
    color: #474747;
    font-weight: 700;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 30px;
    text-transform: capitalize;
}
.resume .resume-item h4{
    text-transform: capitalize;
    font-size: 20;
    color: #757575;
    font-weight: 600;
    text-align: left;
    margin-bottom: 30px;
} 
.resume .resume-item p{
    margin-bottom: 30px;
    text-align: left;
}
.resume .button{
    margin-top: 30px;
    margin-bottom: 113px;
}
footer{
   
    background: #FFF8F3;
}
.form{
    display: flex;
    gap: 117px;
    padding:130px 200px;
}
.connect-me h1{
    
    margin-bottom: 20px;
}
.connect-me a{
    margin-top: 30px;
    margin-right: 24px;
}
input, textarea{
    height: 64px;
    padding: 18px 30px;
    margin-bottom: 24px;
    width: 100%;
    resize: none;
    outline: none;
    border: none;
}
textarea{
    height: 180px;
}
form button{
    margin: 0 auto;
}